services:
  db:
    image: postgres:18.1-alpine3.22
    env_file:
      - .env.dev
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - dev-db-data:/var/lib/postgresql

  app:
    build:
      context: .
      dockerfile: Dockerfile
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    volumes:
      - ./config:/app/config:delegated
      - ./accounts:/app/accounts:delegated
      - ./donations:/app/donations:delegated
      - ./payments:/app/payments:delegated
      - dev-media-data:/app/media
    env_file:
      - .env.dev
    depends_on:
      - db

volumes:
  dev-db-data:
  dev-media-data:
